include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ehaportal *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ehaportal/migration *.ini *.py *.mako
