{% ckan_extends %}

{% block content %}
   <div class="container-fluid">
     <div class="image-header">
       <div class="bg-image">
         <img src="/image/about-bg.jpg" alt="nigeria"></img>
       </div>
       <h2 class="headline-xxl text-center">The eHA Data Portal</h2>
     </div>
     <div class="row">
       <div class="col-md-10 col-md-offset-1">
         <div class="module">
           <div class="module-content">
             <p class="heading-l">
               Over the years, eHealth Africa has collected and cataloged a wide
               variety of geospatial data and other data sets in the countries and
               regions we’ve worked in. We are making this data open to all for
               non-commercial use.
             </p>
           </div>
           <div class="module-content flex">
             <div class="image center">
               <img src="/image/eha-logo.png" alt="eHealth Africa Logo"></img>
             </div>
             <div class="text-m flex2">
               <h3 class="title-xl">About eHA</h3>
               <p>
                 eHealth Africa was founded in 2009 with a simple idea that
                 communities in developing countries could have better healthcare
                 when providers are able to make <b>data-driven decisions</b>.
               </p>
               <p>
                 We continue to support the building of stronger health systems
                 through the design and implementation of solutions that respond to
                 local needs and provide underserved communities with tools to lead
                 healthier lives. To support this further, we are opening access to
                 the data we have collected over the years to the general public,
                 to allow a wider cross-section of people and organizations access
                 to data that can assist them in decision making and resource
                 planning.
               </p>
               <a href="http://ehealthafrica.org" target="blank">
                 Visit eHealth Africa
               </a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-10 col-md-offset-1">
         <div class="module">
           <div class="module-content">
             <p class="headline-xl">Partners</p>
           </div>
           <div class="module-content flex partner">
             <div class="image center">
               <img
                 src="/image/nigerian-government-logo.png"
                 alt="Nigerian Government"
               ></img>
             </div>
             <div class="text-m flex2">
               <h3 class="title-l">Government of Nigeria</h3>
             </div>
           </div>
           <div class="module-content flex partner">
             <div class="image center">
               <img src="/image/cdc-logo.png" alt="CDC"></img>
             </div>
             <div class="text-m flex2">
               <h3 class="title-l">
                 Centers for Disease Control and Prevention
               </h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
{% endblock %}

